<ion-header>

</ion-header>

<ion-content>




  <!-- <ion-tabs>  -->
  <!-- Tab bar -->
  <!-- <ion-tab-bar slot="bottom">
      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="contact">
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

  <ion-tabs>
    <ion-tab-bar slot="bottom" style="--background: #25503F;">
      <!-- tab="" permet de donner le chemin de la page -->

      <!-- <ion-menu-toggle id="left">
        <ion-icon name="menu"></ion-icon>
       
      </ion-menu-toggle> -->
      <!-- <ion-tab-button id="left">
        <ion-icon name="menu"></ion-icon> 
        <ion-label>Menu</ion-label>
      </ion-tab-button> -->
      <ion-menu-toggle id="left" >
        <ion-tab-button>

          <ion-icon class="menu " name="menu" ></ion-icon> 
          <ion-label class="textMenu ">Menu</ion-label>
        </ion-tab-button>
      </ion-menu-toggle>
      

      <ion-tab-button tab="accueil">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>


      <!-- <ion-menu-toggle id="left">
        <ion-item routerLink="alertes">
          <ion-icon name="toogle"></ion-icon>
          <ion-label>Alertes</ion-label>
        </ion-item>
      </ion-menu-toggle> -->

    </ion-tab-bar>
  </ion-tabs>
</ion-content>