<ion-content class="content">
  <h1 class="h1 pt-5 pb-2">Se connecter</h1>
  
  <div class="container">
    <div class="photo">
    <ion-img width="10" height="10" src="../../assets/Soutenance/legumefruit.png "></ion-img>
  </div>
  </div>

  <div class="container">
    
      <form  action="">
        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre email ou numéro">
          
        </div>
        <div class="mb-3">
          <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrer votre mot de passe">
        </div>
        
        <button type="submit" class="btn btn-primary">Se connecter</button>
  </form>

  <a href="#"><p class="text-center   mt-3 link1">Mot de passe oublié ?</p></a>
   <!-- =====================ICON========================= -->
   <div  class="ion-text-center pb-2" >
    <a href="">
      <ion-icon slot="start" class="mx-1" name="logo-facebook"></ion-icon>
    </a> 
    <a href="">
      <ion-icon slot="start" class="mx-1" name="logo-google" color="danger"></ion-icon>
    </a>
    <a href="">
      <ion-icon slot="start" name="logo-github" color="dark"></ion-icon>
    </a>
   </div>
  </div>
  <!-- ========================================================================
    ======================================================
    =========================================================== -->
  
  <ion-content class="ion-padding">
    <ion-button id="open-modal" expand="block">Créer un compte?</ion-button>
  
    <ion-modal #modal trigger="open-modal" >
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title class="text-center">Inscription</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="modal.dismiss()"><ion-icon name="close-circle-outline" ></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
          
          <!--==============CONTENU DU MODAL=============== -->
          
          <form class="mt-3 mb-0"
          
          >
            <div class="mb-3">
             
              <input  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre nom ">
            </div>

            <div class="mb-3">
              
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Entrer votre prenom">
            </div>

            <div class="mb-3">
              
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrer votre mot de passe">
            </div>

            <div class="mb-3">
              
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Entrer votre numéro">
            </div>

            <div class="mb-3">
              
              <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Entrer votre email">
            </div>

            <!-- <div class="mb-3"> -->
              <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
              <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrer votre mot de passe">
            </div> -->
            
            <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
         <!-- </div> -->
         

        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

  <a href=""><p class="text-center  text-light pt-0 ">Continuer sans compte?</p></a>
</ion-content> -->
