<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img  ">
    <div class="text text-center mt-2">
      <h1 class="text-white title">Conseils </h1>
      <p class="p">Recevez nos meilleurs conseils afin d’anticiper
        les mauvaises surprises dans vos jardins. </p>
    </div>
  </div>
  <!-- =============Listes des conseisl=============== -->





  
  <ion-grid >
    <div class="">
       <ion-row class="row princ">
      <ion-col size="4" class="img2">
        <img src="../../assets/Soutenance/carotte.jpg" alt="image de conseil" width="180px" height="60px" style="padding: 0;" class="mt-4 image">
      </ion-col>
      <ion-col size="8" class=" textLeft" >
        <h1 class="title2">Titre du Conseil</h1>
        <p class="p2">Le lorem ipsum est, en imprimerie, une suite de mots sans</p>
        <a href="">voir  plus</a> 
      </ion-col>
    </ion-row>
    </div>
  </ion-grid>



</ion-content>
