
<ion-content>
  
    <div class="ion-text-center">
      <h3 class="h1 pt-5 pb-4" style="color: white;font-size: 35px;font-weight: bold;" >Se connecter</h3>
    </div>
    <div class="photo">
      <ion-img width="10" height="10" src="../../assets/Soutenance/legumefruit.png "></ion-img>
    </div>
    <ion-grid>
      <ion-row align-items-start>
    <form action="" id="form" >
      <div class="col-12  pb-3">
        <ion-input type="text" class="ion-text-center"  placeholder="Entrer votre email ou numero" ></ion-input>
      </div>
      <div class="col-12  pb-3">
        <ion-input type="text" class="ion-text-center" color="light" placeholder="Entrer votre mot de passe" style="background-color: #328923; color: white;"></ion-input>
      </div>
      <div class="col-12  ion-text-center">
        <button type="submit" form="form1" class="h2 " value="Submit">Se connecter</button>
        <!-- <input type="submit" text="Se connecter"> -->
      </div>
     </form>
    </ion-row>
  </ion-grid>
   <a href=""><p class="text-center  text-light text-center p">Mot de passe oublié ?</p></a>
   <!-- =====================ICON========================= -->
   <div  class="ion-text-center pb-2" >
    <a href="">
      <ion-icon slot="start" class="mx-1" name="logo-facebook"></ion-icon>
    </a>
    <a href="">
      <ion-icon slot="start" class="mx-1" name="logo-google" color="danger"></ion-icon>
    </a>
    <a href="">
      <ion-icon slot="start" name="logo-github" color="dark"></ion-icon>
    </a>
   </div>
   <a href=""><p class="text-center text-light p">Créer un compte?</p></a>
   <a href=""><p class="text-center  text-light p">Continuer sans compte?</p></a>

</ion-content>
